.photos {
  height: 180px;
}

.drawing-caption {
  font-size: 12px;
  text-align: center;
}

.lightbox {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  background: rgba(0,0,0, 0.7);
}

.lightbox.open {
  display: block;
}

.lightbox img {
  display: block;
  margin: auto;
  padding: 15px;
  max-width: 100%;
  max-height: 80vh;
}

.lightbox figcaption {
  color: #fff;
  text-align: center;
  font-family: fantasy;
  font-size: initial;
}

.thumbnail {
  border: 0px !important;
}

button.btn.close {
  padding-right: 14px;
  font-size: 30px;
  color: white;
  opacity: 0.4;
}
