body {
  padding-top: 70px;
}

.reset:hover {
  color: #dddddd;
  border:solid 1px #dddddd;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #dddddd;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #777;
}

.photos {
  height: 180px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}

.drawing-caption {
  font-size: 12px;
  text-align: center;
}

.thumbnail {
  border: 0px !important;
  background-color: transparent !important;
}

button.btn.close {
  padding-right: 14px;
  font-size: 30px;
  color: white;
  opacity: 0.2;
}

.navbar {
  z-index: 50;
  background-color: currentColor;
  border-color: #777
}

.navbar-brand {
  font-size: 1.2em;
}

.leftside {
  position: relative;
  background-color: currentColor;
  border-radius: 5px;
  padding: 15px;
  opacity: 0.9;
}

.reset {
  float:right;
  background-color:transparent;
  border:solid 1px #777;
}

.lead {
  margin-bottom: 0px !important;
}

.thumbnails {
  position: relative;
  float: right;
}

.card {
  border-radius: 10px;
  background-color: white;
  margin: 15px;
  padding: 15px;
}

.pattern {
  background-color: #6d695c;
  background-image:
  repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
  linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
  background-size: 70px 120px;
}


@media (max-width: 768px) {
  .leftside {
    display: none;
  }
  .table {
    display: none;
  }
}

@media (min-width: 992px) {
  .leftside {
    position: fixed;
  }
}

@media (min-width: 1200px) { ... }
