body {
  padding-top: 70px;
}

.photos {
  height: 180px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}

.drawing-caption {
  font-size: 12px;
  text-align: center;
}

.thumbnail {
  border: 0px !important;
}

button.btn.close {
  padding-right: 14px;
  font-size: 30px;
  color: white;
  opacity: 0.2;
}

.navbar {
  z-index: 50;
}

.leftside {
  position: relative;
}

.thumbnails {
  position: relative;
  float: right;
}

.card {
  border-radius: 10px;
  background-color: white;
  /*opacity: 0.8;*/
  margin: 15px;
  padding: 15px;
}


@media (min-width: 768px) { ... }

@media (min-width: 992px) {
  .leftside {
    position: fixed;
  }
}

@media (min-width: 1200px) { ... }
